// Body
$black: #000000;
$onyx-gray: #363946;
$dim-gray: #696773;
$cadet-gray: #819595;
$yellow: #F7B801;

$body-bg: $onyx-gray;

$primary: $black;
$secondary: $cadet-gray;

// $theme-colors: (
//     "primary",
//     "secondary",
//     "success",
//     "warning",
//     "danger"
// );

// loading icon
$rack-color: $yellow;
$file-color: $onyx-gray;
// download icon
$download-color: $black;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
