@keyframes icon-highlight-hover {
    0% { 
        transform: scale(1); 
        opacity: 0.8;
    }
    50% { 
        transform: scale(1.3);
        opacity: 1;
    }
    100% { 
        transform: scale(1); 
        opacity: 0.8;
    }
}
@keyframes upload-file-hover {
    0% { width: 0%; }
    100% { width: 80%; }
}
.file-entry {
    border: solid $dim-gray 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 10vh;
    color:white;
    border-radius: 10px;
    width: 80%;
    background-color: darken($body-bg, 2%);
    padding: 10px 20px 10px 20px;
    margin: 0.5vh;
    overflow: hidden;
    transition: all 0.6s linear;
}
.enlarged-entry {
    max-height: 40vh;
}
.new-file-entry {
    @extend .file-entry;
    position: relative;
    justify-content: center;
    margin: 2vh;
    height: 12vh;
    z-index: 99;
    background-color: darken($body-bg, 10%);
    animation: none;
}
.new-file-entry:hover {
    cursor: pointer;
}
.new-file-entry-bg:hover {
    animation: 1s linear infinite upload-file-hover;
}
.file-preview {
    max-height: 30vh;
}
.file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    text-align: center;
    text-wrap: wrap;
    background-image: url('/img/file.png');
    background-size: contain;
    width: 6vh;
    height: 6vh;
    background-repeat: no-repeat;
}
.small-icon {
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    opacity: 0.8;
}
.small-icon:hover {
    animation: 0.5s linear 1 icon-highlight-hover;
}